// colors
$whiteColor: #ffffff;
$blackColor: #000000;
$grayColor: #cccccc;
$lightBlueColor: #4293FF;
$blueColor: #6250fe;
$darkBlueColor: #3C59E8;
$yellowColor: #ffd622;

// width
$tabletWidth: 750px;
$laptopWidth: 1210px;
$tvWidth: 1800px;